<main class="background-primary-1">
  <div class="flex gap-16 flex-wrap">
    <button azui-button tipo="primary">hola mundo</button>
    <button azui-button tipo="secondary">hola mundo</button>
    <button azui-button tipo="neutral">hola mundo</button>

    <button azui-button [disabled]="true" tipo="primary">hola mundo</button>
    <button azui-button [disabled]="true" tipo="secondary">hola mundo</button>
    <button azui-button [disabled]="true" tipo="neutral">hola mundo</button>
  </div>

  <az-card></az-card>
</main>
