<main>
  <div class="flex gap-16 flex-wrap">
    <button azui-button tipo="primary">hola mundo</button>
    <button azui-button tipo="secondary">hola mundo</button>
    <button azui-button tipo="neutral">hola mundo</button>

    <button azui-button [disabled]="true" tipo="primary">hola mundo</button>
    <button azui-button [disabled]="true" tipo="secondary">hola mundo</button>
    <button azui-button [disabled]="true" tipo="neutral">hola mundo</button>

    <azui-alert
      titulo="titulo de prueba"
      descripcion="descripcion de prueba"
      [tipoAlerta]="TipoAlerta.Error"
    ></azui-alert>
  </div>
</main>
